@import '../../node_modules/bootstrap/scss/bootstrap.scss';

$bg-warning: #ffa900;
$font-primary: 'Raleway', sans-serif;
$font-secodary: 'Dosis', sans-serif;
$font-titles: 'Poiret One', cursive;
$line-height: 150%;
$font-size: 16px;
$hover-brightness: 1.2;
$color-text-titles: #d5d8dc;
$font-size-small: 14px;
$width-card: 300px;
$width-content: 1080px;
$bg-danger: #f93154;
$bg-success: #00b74a;

html.transition,
html.transition *,
html.transition:after,
html.transition:before {
	transition: all 500ms !important;
	transition-delay: 0 !important;
}

body {
	color: $secondary;
	font-family: $font-primary;
	line-height: $line-height;
	margin: 0;
	overflow-x: hidden;
	padding: 0;
	font-size: $font-size;
}
footer,
header,
main {
	margin: auto;
	max-width: $width-content;
	padding: auto;
	text-align: center;
	font-family: $font-primary;
}

article header,
div header,
main header {
	padding-top: 0;
}

section {
	margin: 1rem 1.5rem;
	padding: 0.5rem;
}

footer {
	font-family: $font-secodary;
	padding: 0;
	position: fixed;
	bottom: 0;
	left: 41.5%;
	font-size: 10px;
}

#offcanvasWithBothOptions {
	max-width: 20vw;
}

#main-spinner {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

header {
	text-align: center;
	a b,
	a em,
	a i,
	a strong {
		margin-left: 0.5rem;
		margin-right: 0.5rem;
	}
	nav img {
		margin: 1rem 0;
	}
}

.mailing-list-containers {
	padding: 0;
	margin: 0;
}

html[theme='dark'] {
	body {
		background-color: $secondary;
	}
	nav {
		background-color: $dark;
	}
	#offcanvasWithBothOptions,
	ul,
	li {
		background-color: $dark;
		color: $light;
	}
}
@import './card.scss';
@import './navbar.scss';
@import './text.scss';
@import './buttons.scss';
@import './toasts.scss';
@import './animation.scss';
@import './tables.scss';
@import './icons.scss';
