@import '../../node_modules/bootstrap/scss/bootstrap.scss';

$font-primary: 'Raleway', sans-serif;
$font-secodary: 'Dosis', sans-serif;
$font-titles: 'Poiret One', cursive;
$line-height: 150%;
$font-size: 16px;
$hover-brightness: 1.2;
$color-text-titles: #d5d8dc;
$width-card: 300px;
$font-size-small: 14px;
$width-content: 1080px;

html.transition,
html.transition *,
html.transition:after,
html.transition:before {
	transition: all 500ms !important;
	transition-delay: 0 !important;
}

body {
	color: $secondary;
	font-family: $font-primary;
	line-height: $line-height;
	margin: 0;
	overflow-x: hidden;
	padding: 0;
	font-size: $font-size;
}
footer,
header,
main {
	margin: auto;
	max-width: $width-content;
	padding: auto;
	text-align: center;
	font-family: $font-primary;
}

h1,
h2 {
	font-family: $font-titles;
	color: $color-text-titles;
}

article header,
div header,
main header {
	padding-top: 0;
}

section {
	margin: 1rem 1.5rem;
	padding: 0.5rem;
}

footer {
	font-family: $font-secodary;
	padding: 0;
	position: fixed;
	bottom: 0;
	left: 41.5%;
	font-size: 10px;
}

@import './card.scss';
@import './navbar.scss';

a {
	text-decoration: none;
	width: fit-content;
	&:hover {
		filter: brightness($hover-brightness);
	}
}

button {
	font-family: $font-primary;
	&:hover {
		cursor: pointer;
		filter: brightness($hover-brightness);
	}
}
#offcanvasWithBothOptions {
	max-width: 20vw;
}

.arrow-forward {
	cursor: pointer;
	-webkit-animation: spin 0.5s ease-out forwards;
	-moz-animation: spin 0.5s ease-out forwards;
	animation: spin 0.5s ease-out forwards;
}

.material-icons.md-18 {
	font-size: 18px;
}
.material-icons.md-24 {
	font-size: 24px;
}
.material-icons.md-36 {
	font-size: 36px;
}
.material-icons.md-48 {
	font-size: 48px;
}

.mailing-list-checkbox {
	width: 20px;
}
.table-text {
	font-size: 11px;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
		'Helvetica Neue', sans-serif;
}

.table-headers {
	font-size: 12px;
}

#main-spinner {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

header {
	text-align: center;
	a b,
	a em,
	a i,
	a strong {
		margin-left: 0.5rem;
		margin-right: 0.5rem;
	}
	nav img {
		margin: 1rem 0;
	}
}

#test {
	width: 100vw;
	height: 5vh;
	background-color: red;
}

#btn-menu {
	display: inherit;
	margin: 0 5px;
}

.mailing-list-containers {
	padding: 0;
	margin: 0;
}

a .tooltip-txt::after,
button .tooltip-txt::after {
	content: ' ';
	position: absolute;
	bottom: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: transparent transparent #222 transparent;
}

.tooltip-txt {
	visibility: hidden;
	min-width: 55px;
	min-height: 30px;
	top: 100%;
	left: 50%;
	margin-left: -40px;
	background-color: #222;
	color: #ccc;
	padding: 5px 0;
	border-radius: 3px;
	border-top: 1px dotted #222;
	position: absolute;
	z-index: 100;
	font-size: 12px;
	font-family: 'Raleway', sans-serif;
	opacity: 0.9;
	text-align: center;
	text-justify: center;
	overflow: visible;
}

.btn-toast {
	width: 120px;
	text-align: center;
}

#liveToastBtn {
	cursor: pointer;
}

html[theme='dark'] {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p {
		color: $light;
	}
	body {
		background-color: $secondary;
	}
	nav {
		background-color: $dark;
	}
	.body,
	.card,
	.card-body {
		background-color: $dark;
	}
	table,
	tbody,
	td,
	th,
	tr,
	#dtBasic_filter > label > input,
	.paginate_button > a {
		background-color: $secondary !important;
		color: $light !important;
	}
	.paginate_button > a:hover {
		background-color: $dark !important;
		color: $light !important;
	}
	#dtBasic_filter > label {
		color: $light !important;
	}
	#offcanvasWithBothOptions,
	ul,
	li {
		background-color: $dark;
		color: $light;
	}
	#main-menu > li.nav-item.main-nav > a {
		color: $light;
	}
	#main-menu > li.nav-item.main-nav:hover {
		background-color: $secondary;
	}
}

@-moz-keyframes spin {
	100% {
		-moz-transform: rotate(-180deg);
	}
}
@-webkit-keyframes spin {
	100% {
		-webkit-transform: rotate(-180deg);
	}
}
@keyframes spin {
	100% {
		-webkit-transform: rotate(-180deg);
		transform: rotate(-180deg);
	}
}
