#logout-toast,
.toast-body,
#toast-header {
	background-color: $secondary;
	color: $light;
	border: none;
	border-radius: 3px;
	#btn-cancel {
		background-color: $bg-danger;
		color: $light;
		border: none;
	}
	#btn-logout {
		background-color: $bg-success;
		color: $light;
		border: none;
	}
}

html[theme='dark'] {
	#logout-toast,
	.toast-body,
	#toast-header {
		background-color: $dark;
	}
}
