<%- include('../components/NavBar'); -%>

<div
  class="offcanvas offcanvas-start"
  data-bs-scroll="true"
  tabindex="-1"
  id="offcanvasWithBothOptions"
  aria-labelledby="offcanvasWithBothOptionsLabel"
>
  <div class="offcanvas-header">
    <h5 class="offcanvas-title ms-1" id="offcanvasWithBothOptionsLabel">Menu</h5>
    <span class="material-icons" id="arrow-forward" data-bs-dismiss="offcanvas" aria-label="Close">arrow_forward</span>
  </div>
  <div class="offcanvas-body">
    <ul class="navbar-nav" id='main-menu'/>

  </div>
</div>
