<!-- Navbar -->
<nav class="navbar navbar-dark bg-gradient">
	<!-- Container wrapper -->
	<div class="container-fluid">
		<!-- Toggle button -->
		<div class="d-flex">
			<button
				class="navbar-toggler add-tooltip"
				type="button"
				data-bs-toggle="offcanvas"
				data-bs-target="#main-menu-canvas"
				aria-expanded="false"
				aria-label="Toggle navigation"
				id="btn-menu"
				aria-controls="main-menu-canvas"
				title="Menu"
			>
				<i class="bi bi-list"></i>
			</button>
			<a class="link-light add-tooltip" href="/" id="nav-btn-home" role="button" aria-expanded="false" title="Home">
				<i class="bi bi-house-door"></i>
			</a>
		</div>
		<h2 id="main-title" style="font-weight: 600"><%- title %></h2>
		<!-- Right elements -->
		<div class="d-flex align-items-center right-elements">
			<!-- Avatar -->
			<a class="nav-link link-light active add-tooltip" aria-current="page" href="/profile" title="Profile">
				<%if(isLogedIn && userData && userData.picture){%>
				<img
					src="<%-userData.picture%>"
					class="rounded-circle"
					alt="user photo"
					width="24"
					height="24"
					loading="lazy"
				/>
				<%}else{%>
				<i class="bi bi-person-circle"></i>
				<%}%>
			</a>

			<%if (isLogedIn) { %>

			<a
				class="nav-link link-light active text-decoration-none add-tooltip"
				type="button"
				id="btn-logout-toast"
				aria-current="page"
				title="logout"
			>
				<i class="bi bi-box-arrow-right"></i>
			</a>

			<% }else{ %>

			<a
				class="nav-link link-light active text-decoration-none add-tooltip"
				id="nav-link"
				type="button"
				aria-current="page"
				href="/login"
				title="Login"
			>
				<i class="bi bi-box-arrow-in-left"></i>
			</a>
			<% } %>
			<a
				type="button"
				class="nav-link link-light active text-decoration-none add-tooltip"
				id="btn-dark-mode"
				title="Dark Mode"
			>
				<i class="bi bi-moon"></i>
			</a>
		</div>
		<!-- Right elements -->
	</div>
	<!-- Container wrapper -->
</nav>

<%- include('./Toast'); -%>
<!-- Navbar -->
