<%- include('./components/Spinner'); -%>

<header>
	<h3>This page is public</h3>
</header>
<main>
	<a
		type="button"
		class="btn btn-primary bg-gradient"
		style="padding: 8px 35px"
		data-toggle="modal"
		data-target="#exampleModal"
		href="/login"
		id="login-button"
	>
		Login
	</a>
</main>
