<% if(userData) { %>
<section>
  <div class="card align-self-center shadow bg-body rounded w-auto">
    <img src="<%-userData.picture%>" class="card-img-top" alt="user photo" />

    <div class="card-body text-start">
      <h5 class="card-title">Hello <%- userData.name || userData.email || "Undefined" %></h5>
      <p class="card-text">
        <strong class="me-2">Your Email is:</strong> <%- userData.email || "Undefined" %><br />
        <strong class="me-2">Your Phone number is: </strong><%- userData.phoneNumber||"Undefined" %>
      </p>
    </div>
  </div>
  <a class="btn btn-primary mb-0 mt-4" href="/messages">Messages Module</a>
</section>

<% } else { %>
<div class="d-flex justify-content-center" style="width: 5rem; height: 5rem">
  <div class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>

<%}%> <% if(isAlreadyLogedIn) { %>
<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
  <div id="already-logged-toast" class="toast bg-secondary" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <strong class="me-auto">New notification</strong>
      <small>Just Now</small>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body text-light" id="logged-toast-text">You have already logged in</div>
  </div>
</div>
<% } %>
