<%- include('./components/Spinner'); -%>
<main>
	<div class="card shadow rounded m-0 p-0 w-100 border-0 bg-gradient" id="card-table">
		<div class="card-body text-start"><%- include('./components/Table'); -%></div>
	</div>
</main>
